.header {
    display: flex;
    width: 350px;
    transition-duration: 500ms;
    transform: translate(-230px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0px);
}

.link {
    text-decoration: none;
    margin: 10px;
    color: darkcyan;
}

.link:hover {
    color: aquamarine;
}

.active {
    color: #007dff;
}

.block {
    width: 35px;
    height: 35px;

    margin-left: 40px;
    background: darkcyan;
    border-radius: 50%;
}
